.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden-label {
  display: none;
}

.counter-tally-container,
.counter-button-container,
.counter-reset-button-container {
  padding: 10px;
}

.tally {
  font-size: xx-large;
}

.counter-button,
.counter-reset-button {
  padding: 10px;
  font-size: large;
  border-width: thick;
  border-radius: 15px;
}

.counter-button {
  background-color: blue;
  color: lightgray;
}

.counter-reset-button {
  background-color: rebeccapurple;
  color: lightgray;
}
